html {
  box-sizing: border-box;
  height: 100%;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

@import 'variables';
@import 'tag';
@import 'list';
@import 'container';
@import 'related-terms';
@import 'highlight';
